@charset "utf-8";

:root {
    --font-title: clamp(1.6rem, 3vw, 2rem);

    --color-primary: #FF9700;
}

.App {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #111;
    color: #fff;
    
    a {
        color: #fff;
    }
}